body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* MY WORK */

ul {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  list-style: none;
}

a {
  text-decoration: none; 
  color: white; 
}

body {
  flex-direction: column;
}

.center, .content, body, .header, .footer {
  display: flex;
}

.header {
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  align-items: center;
  flex: none;
}

.footer {
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

.center {
  flex-grow: 1;
}

.content {
  padding: 48px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 300px;
  margin: 8px;
}